﻿<div>
    <table class="table table-striped" cellspacing="0 ">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody class="table table-hover" data-bind="foreach: itemsOnCurrentPage">
            <tr>
                <td data-bind="text: title"></td>
                <td data-bind="text: meta.startDate"></td>
                <td><a href="#" data-bind="click: $root.select">details</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <ul>
            <!-- ko foreach: ko.utils.range(0, maxPageIndex) -->
            <li>
                <a href="#" data-bind="text: $data + 1, click: function () { $root.currentPageIndex($data); }"></a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</div>