﻿<div class="messageBox autoclose" style="max-width: 425px">
    <div class="modal-header">
        <h3 data-bind="text: title"></h3>
    </div>
    <div class="modal-body">
        
        <p data-bind="html: meta.summary"></p>
    </div>
</div>