﻿<div>
    <h2>Active.com Events</h2>
    <div class="well liveExample">
        <div data-bind='compose: gridViewModel'></div>
        
        <button class="btn" data-bind="click: refreshEvents">
            Refresh Data
        </button>
 
        <button class="btn" data-bind='click: sortByName'>
            Sort by name
        </button>
 
        <button class="btn" data-bind='click: jumpToFirstPage, enable: gridViewModel.currentPageIndex'>
            Jump to first page
        </button> 
    </div>
</div>