﻿<div>
    <h2 data-bind="html: displayName"></h2>
    <button class="btn" data-bind="click: showMessage">Click</button>
    <table>
    <thead>
        <tr>
            <th>EventId</th><th>Title</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:activities">
        <tr>
            <td data-bind="text:EventId"></td>
            <td data-bind="text:title"></td>
        </tr>        
    </tbody>
</table>
</div>