﻿<nav class="navbar navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center">
        <span class="pull-left"><a href="http://swimparser.appspot.com" target="_blank">Swimparser </a></span>
        <span class="pull-right"><a href="http://eemyop.blogspot.com" target="_blank">ColoradoActive - © Michael J. Cox</a></span>
    </div>
</nav>
