﻿<section>
    <h2 class="page-title" data-bind="text: title"></h2>
    Colorado Active Events is aimed at creating goals for CO athletes. It's aimed at helping CO athletes set goals for local
    events. 
    <br />
    <h2>Right now, the funcationality is limited to:</h2>
    <ul>
        <li>Grabs local CO events from Active.com and display those for selection (Active Events)</li>
        <li>Geolocates the user and outputs their current lat/long</li>
    </ul>
    
    <h2>Future Functionality will include:</h2>
    <ul>
        <li>Show user location and event location on a map</li>
        <li>Allow for sorting based on proximity of event to user</li>
        <li>Allow the user to build a to-do list based on those events</li>
        <li>Display past results, if available</li>
    </ul>
</section>