﻿<div>
    <h2 class="page-title" data-bind="html: displayName"></h2>
    <p style="margin:0 auto;width:194px" id="geo-wrapper">
    <span id="live-geolocation"></span>
    <button class="btn" data-bind="click: showMap">Find Me!</button>
</div>